<!doctype html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="scripts/main.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="styles/main.css" type="text/css" />
</head>
%body
%section
  %a{href: "https://en.wikipedia.org", target: "_blank"}
    %h1.title.fa.fw.fa-wikipedia-w
  %form.lookup
    %a{href: "https://en.wikipedia.org/wiki/Special:Random", target: "_blank"}
      %i#random.fa.fw.fa-random{title: "surprise me!"}
    %input.query{type: "text", placeholder: "Big History..."}
    %i#search.fa.fw.fa-search{title: "fire away.."}
  %section.result
</html>
